.header {
    background-image: url(../img/header-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 520px;
    color: white;
}

.page-top {
    background-image: url(../img/about-company.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    color: white;
}

.listing-item-image {
    display: block;
    border: 0;
    object-fit: cover;
}

.listing-item-image img {
    width: 180px;
    height: 135px;
}

.login-form {
    width: 400px;
    margin: 0 auto;
}

.registration-form {
    width: 400px;
    margin: 5px auto;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

.form-wrapper {
    min-height: 100vh;
    height: 100%;
}

.profile-order-history {
    height: 400px;
}

.page-wrap {
    min-height: 100vh;
    height: 100%;
}

.table-wrapper {
    height: 40vh;
}

.error-content-wrapper {
    background: #dedede;
}

.success-content-wrapper {
    width: 400px;
    background: #98FB98; /* pale green */
}